<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.dzzz.certinfo.mapper.CertchildYpscZcMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  certchild_ypsc_zc 
		WHERE
			 zsid = #{mainId} and   xzspid=#{glid}  and zt=#{zt}	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.demo.dzzz.certinfo.entity.CertchildYpscZc">
		SELECT * 
		FROM  certchild_ypsc_zc
		WHERE
			 zsid = #{mainId}
         and (zt!='0'  or ZT IS NULL )
        and xzspid=#{glid}
	</select>
</mapper>
