<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.spxt.mapper.TYwZsLsNMapper">

    <update id="updateTywZS" parameterType="java.lang.String" >
        update  T_YW_ZS_LS_N set issc='1' where xzspid=#{spid}
    </update>
    <update id="updateTywCzjlN" parameterType="java.lang.String" >
        UPDATE  T_YW_ZS_CZJL_LS_N  SET ISSC ='1' WHERE XZSPSLH =#{spid}
</update>
</mapper>